<h1>About Us</h1>
<p>
<a href="http://railstutorial.org/">ROR Tutorial</a>is a project to make book and screencasts for web dev with <a href="http://rubyonrails.org/">Ruby on Rails</a>.  This is part of the Sample Application for the tutorial.
</p>
	 
